

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    height: 100%;
    
}

nav{
  background-color: #FFF7ED;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content:space-around;

}




.side-links{
  padding: 60px;
  margin: 30px;
  text-decoration: none;

  
}

.side-links > a{
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin: 10px;
 
  overflow: hidden;
  
}

.side-links > a::after {
  content: ''; 
  display: block; 
  width: 0; 
  height: 3px; 
  background-color: black;
  position: absolute; 
  left: 0; 
  bottom: -1px; 
  transition: width 0.3s; 
  
}

.side-links > a:hover{
  font-weight: 600;
}

.side-links > a:hover::after {
  width: 100%; 
  
}

a.active-link {
  font-weight: bold;
  color: #161616;
  font-size: 24px;
}




.home-link{
  font-weight: 900;
  font-size: 30px;
  color: black;
  text-decoration: none;
  margin-right: auto;
  padding: 60px;
  
}

/* Home Page  */

.home-container {
  
  background-image: url('../public/alessandro-erbetta-RPcIkOzN0iQ-unsplash-modified.png'); 
  background-position: left center; 
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  color: black;
  display: flex;
  justify-content: flex-end;
  
  
}

.info{
  
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  margin-right: 5%;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 200px;
  margin-top: 27px;
  
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
  padding: 20px 30px;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

   /*ABout Page*/

   
   .about-hero-image {
    
    
    background-image: url('../public/tommy-lisbin-xr-y6Ruw7K8-unsplash.jpg'); 
  background-position: 50% 47%; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    

    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    margin: 0 20%;
    border-radius: 2rem;
}

.about-page-cta h2 {
  font-size: 1.7rem;
  text-align: left;
    margin: 0;
    padding-block: 30px;
    
}

.about-page-cta .link-button  {
    background-color: #161616;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.active-link{
  font-weight: 600;
  text-decoration: none;
  color: "#161616";
  font-size: 24px;
}




.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: none;
  font-weight: 600;
}

/*** VAN PAGE ****/

.van-list-container {
  padding-inline: 23px;
  text-align: center;
  padding: 50px;
 
}


.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin: 10px;

  
}
.van-list-filter-buttons{
  display: flex;
  justify-content: center;
  margin: 80px;
  
}

.van-tile a {
  color: #161616;
  text-decoration: none;    
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.van-tile img {
  max-width: 80%;
  border-radius: 1rem;
  
  
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
  
}


.van-type {
  height: 34px;
  padding: 10px 26px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}



.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
  
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

.van-tile i {
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  
}



i[class*='van-type-'] {
  padding: 7px 10px;
 
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}



.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: row;
  color: #161616;
}

.van-detail-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.van-detail img {
  border-radius: 3rem;
  margin-block: 47px;
  width: 35%;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail-info p{
  font-size: 1.6rem;
}
.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
  padding: 10px 30px;
  margin-top:20px;
  border: none;
  border-radius: 0.5rem;
}
.van-type-link{
  margin: 20px;
  font-size: 25px;
  padding: 20px 30px ;
}

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
  

}

.host-vans-list {
  padding-inline: 26px;
  display: flex;
  justify-content: center;
 
  
  
}

.host-vans-list section{
  width: 70%;
}

.host-vans-title {
  padding-inline: 30px;
  text-align: center;
  font-size: 40px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 30px;
  padding: 10px 60px;
  
  
}

.host-van-single > img {
  height: 200px;
  border-radius: 5px;
  margin-right: 17px;
  
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}


.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail a{
  color: black;
  width: 100%;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  
  font-weight: 600;
}

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
}

.host-vans-title {
  padding-inline: 26px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single > img {
  height: 150px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}
/************* HOST VAN DETAIL  ****************/
.host-vans-detail-section{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.host-van-detail {
  display: flex;
  align-items: center;
  justify-content: left;
}

.host-van-detail-link{
  color: black;
  margin: 50px;
}

.host-van-detail > img {
  height: 200px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.hostvan-links{
  background-color: white;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}
.host-van-detail-image{
  width: 100px;
  border-radius: 10px;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10%;
}

.host-van-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

.not-found-container {
  padding-inline: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
  padding: 40px;
  width: 30%;
  text-align: center;
  margin: 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 2rem;
}
.login-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  margin: 20vh;
}
.login-form{
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 70px 50px;
  border-radius: 1rem;
}
.login-form input{
  margin: 10px;
  font-size: 20px;
  border-radius: 0.2rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  padding: 5px;
}

.login-form button{
  margin: 10px;
  font-size: 20px;
  border-radius: 0.2rem;
  border: 1px solid black;
  padding: 5px;
  background-color: #FFCC8D;
}
.login-form h2{
  font-size: 20px;
  color: black;
  font-weight: 200;
  margin: 0;
}
.login-first{
  color: rgb(122, 7, 7);
  display: flex;
  align-items: center;
}
.login-first span{
  margin-right: 6px;
}

.side-links span{
  cursor: pointer;;
}

@media (max-width: 1200px) {

   nav{
    display: flex;
    justify-content:flex-start;
  }
  .home-link{
    font-size: 18px;
    padding: 1px;
    margin-left: 10px;
    
  }

  .side-links{
    
    margin: 1px;
    padding: 0;
    display: flex;
    
  }

  .side-links> a{
    margin: auto;
    font-size: 15px;
  }

  
  .img-logo{
    width: 100px;
    
  }

  .home-container{
   
    background-image: url('../public/alessandro-erbetta-RPcIkOzN0iQ-unsplash.jpg'); 
    background-position: center right; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    
  }
 

  .home-container h1{
    font-size: 1.85rem;
  }

  .home-container p{
    margin: 0;
  }
  .about-page-cta{
    margin: 0;
    border-radius: 10px;
  }
 
  .van-list-filter-buttons{
    margin: 30px;
  }
  .van-detail-container {
    padding: 27px;
  }
  
  .van-detail-container .back-button {
    color: black;
    text-decoration: none;
  }
  
 
  
  .van-detail-container .back-button span {
    text-decoration: underline;
  }
  
  .van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
  }

  .van-detail-info{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    
  }
  
  .van-detail img {
    border-radius: 5px;
    margin-block: 47px;
    width: 100%;
  }
  
  .van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .van-detail > i {
    align-self: flex-start;
  }
  
  .van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    width: 80%;
  }

  .van-detail-info p{
    font-size: 1rem;
  }
  .van-type{
    font-size: 16px;
    padding: 8px 16px;
  }
  .van-type-link{
    font-size: 14px;
    margin: 3px;
    padding: 10px 12px;
    
  }

  .host-nav{
    margin: 0px 5px;
  }
  .host-nav a {
    font-size: 16px;

  }

  .host-vans-list section{
    width: auto;
    margin: 10px;
  }
  .host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
    width: 100%;
  
  }
  
  .host-vans-list {
    padding-inline: 26px;
    display: flex;
    justify-content: center;
    
    
  }
  
  
  .host-vans-title {
    padding-inline: 26px;
  }
  
  .host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
    
    
  }
  
  .host-van-single > img {
    height: 150px;
    border-radius: 5px;
    margin-right: 17px;
  }
  
  .host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
  }
  
  .host-van-info p {
    margin-block: 10px;
  }
  .host-van-detail-layout-container {
   
    width: 100%;
  
    
  }

  .not-found-container .link-button {
    width: 50%;
    padding: 30px;
  }

  .login-container{
    
    height: 40vh;
    margin: 10vh;
  }
 
  .login-form{
  
    padding: 50px 20px;
    
  }
  .login-form input{
    
    font-size: 20px;
    
  }
  
  .login-form button{
    margin: 10px;
    font-size: 20px;
    border-radius: 0.2rem;
    border: 1px solid black;
    padding: 5px;
    background-color: #FFCC8D;
  }
  .login-form h2{
    font-size: 20px;
    color: black;
    font-weight: 200;
    margin: 0;
  }

  
  }
 
 
.vibrate-1:hover{-webkit-animation:vibrate-1 .3s linear  both;animation:vibrate-1 .3s linear  both}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-4 22:24:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

